<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <% if Rails.env.development? %>
        <h3>params: </h3>
        <%= debug params %>
        <hr>
        <h3> session: </h3>
        <%= debug session %>
        <hr>
        <h3> request: </h3>
        <% %w[query_parameters 
              flash 
              fullpath 
              original_url 
              remote_ip
              ip 
              uuid
              request_method
              request_method_symbol
              cookie_jar].each do |e| %>
          <h4> request.<%= e %>: </h4>
          <%= eval("debug request.#{e}") %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>